# Node
node_modules/
dist/
.vite/
*.log

# Java
target/
*.class
*.jar
*.war

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Docker
.env
docker-compose.override.yml

# Sensitive
**/application*.yml.bak
**/application-prod.yml
*.pem
*.key
